main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.notes {
    display: flex;
    gap: 1rem;
    max-width: 100%;
    overflow-x: scroll;
}

section.about {
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
    width: var(--notion-max-width);
    max-width: 90%;
}

@media (min-width: 720px) {
    section.notes {
        flex-wrap: wrap;
        overflow-x: unset;
    }
}

img.profile {
    --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
    --mask:
        left var(--_i, 0%) top var(--_g),
        bottom var(--_i, 0%) left var(--_g),
        top var(--_i, 0%) right var(--_g),
        right var(--_i, 0%) bottom var(--_g);
    -webkit-mask: var(--mask);
    mask: var(--mask);
    filter: hue-rotate(-10deg);
    transition: .3s linear;
    cursor: pointer;
}

img.profile:hover {
    --_i: 10%;
}

img.proile:active {
    transform: scale(1.05);
}

.ant-card-body {
    padding: 0 !important;
}

a:link {
    text-decoration: none !important;
}