main {
    display: flex;
}



pre[class*="language-"] {
    padding: 3em 2em;
}

.notion-code-copy-button {
    padding: 0.3em;
}

.notion-code-copy-tooltip {
    /* position: relative;
    top: 0;
    left: 0; */
    transform: translate(-25%, 0);
}