main {
    display: flex;
}

.dark-mode {
    --bg-color: #191919;
    --fg-color: #d4d4d4;
    --select-color-2: #4e575b;
}

pre[class*="language-"] {
    padding: 3em 2em;
}

.notion-code-copy-button {
    padding: 0.3em;
}

.notion-code-copy-tooltip {
    /* position: relative;
    top: 0;
    left: 0; */
    transform: translate(-25%, 0);
}