html, body {
  margin: 0;
}

:root {
  --fg-color: #d4d4d4;
  color-scheme: light dark;
  background-color: #191919;
  color: var(--fg-color);
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

.dark-mode {
  --bg-color: #191919;
  --select-color-2: #4e575b;
}